<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <link rel="stylesheet" href="../static/style.css">
    <title>MasterClass Full Stack</title>
</head>
<body>
    <main>
        <section class="secao secao--hero">
            <div class="container">
                <div class="card">
                    <div class="hexagono">
                        <h1>{ masterclass } PROGRAMAÇÃO FULL STACK</h1>

                    <p>Como aprender Programação Full Stack para:</p>
                    <ul>
                        <li>
                            <img src="https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/62cef75c0262284af718645d_checked.webp" alt=" Icone de Check">
                            Se tornar um dos profissionais mais bem pagos do Mercado de Trabalho
                        </li>
                        <li>
                            <img src="https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/62cef75c0262284af718645d_checked.webp" alt=" Icone de Check">
                            Dominar uma das habilidades mais valorizadas do mercado
                        </li>
                        <li>
                            <img src="https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/62cef75c0262284af718645d_checked.webp" alt=" Icone de Check">
                            Mesmo que esteja começando do zero
                        </li>
                    </ul>
                    <div class="data">
                        <img src="https://cdn.prod.website-files.com/61b9e0dd381626819c8d4f83/65a6e4a43b1abc224260328c_calendar%20(2).webp" alt="Icone Calendario">
                        <p><strong>11</strong>  de <strong>Abril</strong> | 19:30</p>
                    </div>
                    <button>Quero Particitar!</button>
                        <img width="47.11" height="37.95" src="../static/img/Logo.png" alt="">
                        <img src="../static/img/daniel1.jpg" alt="Daniel">
                    </div>
                    

                </div>

            </div>
        
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>